.card {
  position: relative;
  background-color: white;
  margin: 20px;
}

.card-horizontal {
  max-width: 800px;
  width: 300px;
}

.card-container {
  position: relative;
  background-color: white;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.card-background {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 15px;
  left: -15px;
  z-index: 1;
}

.text-container {
  width: 100%;
  margin-bottom: 15px;
}

.card-title {
  color: white;
  font-family: $font-poppins;
  font-size: 1.5rem;
  width: fit-content;
  padding: 0px 5px;
  margin-bottom: 10px;
}

.card-txt {
  font-family: $font-roboto;
  font-size: 1rem;
  text-align: justify;
}

.photo-container {
  width: 100%;
}

.card-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 600px) {
  .card {
    width: 100%;
  }
  .card-container {
    flex-direction: row;
    height: 300px;
  }

  .card-background {
    width: 800px;
    height: 300px;
  }

  .text-container {
    margin: 0px 10px;
  }
  .photo-container {
    height: 100%;
    width: 650px;
    margin: 0px 10px;
  }

  .card-img {
    height: 100%;
    object-position: center;
  }
}
