.card-gallery-container {
  position: relative;
  width: 260px;
  height: 260px;
  background-color: rgb(214, 127, 14);
  overflow: hidden;
}
.card-gallery-images-container {
  position: absolute;

  display: flex;
  flex-direction: row;
}

.card-gallery-image {
  width: 260px;
  height: 260px;
}
