.content-container {
  position: relative;
  width: 100%;
  z-index: 1;
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.intro-container {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  padding-bottom: 30px;
}

.timeline-container {
  width: 100%;
  position: relative;
  @include flex-column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: ivory;
}
