.intro-content-container {
  position: relative;
  width: 600px;
  @include flex-column;
  justify-content: center;
  align-items: center;
}

.intro-center-container {
  position: relative;
  width: 100%;
  z-index: 1;
  @include flex-column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.content-title {
  @include font-nav;
  font-size: 4rem;
  cursor: default;
}

.subtitle-container {
  position: relative;
}

.subtitle-txt-container {
  position: relative;
}

.content-subtitle {
  @include font-nav;
  position: relative;
  cursor: default;
  text-align: center;
  transition: all 0.5s;
}

#subtitle-english {
  display: block;
  opacity: 1;
}

#subtitle-spanish {
  position: relative;
  top: -36px;
  display: block;
  opacity: 0;
}

#tilde {
  @include font-nav;
  font-size: 4rem;
  position: fixed;
  z-index: 400;
  cursor: default;
}

.logo-containers {
  @include flex-row;
  position: relative;
  top: -10px;
}

.svg-logos {
  fill: $text-color;
  width: 30px;
  height: 30px;
  margin: 0px 3px;
}

.intro-down-container {
  @include flex-column;
  justify-content: flex-end;
  align-items: center;
  color: $text-color;
}

.down-container {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

.down-txt {
  font-family: $font-poppins;
  font-size: 0.7rem;
}

.down-arrow {
  width: 40px;
}
