.nav-container {
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 500;
  top: 0;
  background-color: #0a0a0a;
  opacity: 1;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav-center-container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
}

.nav-left {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-left h1 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #e9e9e9;
  font-size: 1.1rem;
}

.nav-right {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right h2 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #e9e9e9;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-btns {
  margin-left: 10px;
}

.content-container {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.intro-container {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.about-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: ivory;
}

.intro-content-container {
  position: relative;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-title {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #e9e9e9;
  font-size: 4rem;
  cursor: default;
}

.subtitle-container {
  position: relative;
}

.subtitle-txt-container {
  position: relative;
}

.content-subtitle {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #e9e9e9;
  position: relative;
  cursor: default;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#subtitle-english {
  display: block;
  opacity: 1;
}

#subtitle-spanish {
  position: relative;
  top: -36px;
  display: block;
  opacity: 0;
}

#tilde {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #e9e9e9;
  font-size: 4rem;
  position: fixed;
  z-index: 400;
  cursor: default;
}

.logo-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: -10px;
}

.svg-logos {
  fill: #e9e9e9;
  width: 30px;
  height: 30px;
  margin: 0px 3px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #0a0a0a;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: auto;
  position: relative;
}
/*# sourceMappingURL=style.css.map */