@import "./variables";
@import "./nav";
@import "./content";
@import "./intro";
@import "./timeline";
@import "./cards";
@import "./cardSquare";
@import "./cardHorizontal";
@import "./cardVertical";
@import "./cardGallery";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: $black;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: auto;
  position: relative;
}
